## How to ScrapBig 5 Passing Type Stats from FBREF - Soccer/Football

Method 1

We could modularize the URL and year strings of text that may be useful for programmatic access (in the subsequent code cell).

In [1]:
import requests
import pandas as pd
from unidecode import unidecode

In [2]:
url = 'https://fbref.com/en/comps/Big5/passing_types/players/Big-5-European-Leagues-Stats'
html_content = requests.get(url).text.replace('<!--', '').replace('-->', '')
df = pd.read_html(html_content)

Method 2

In [3]:
#url = 'https://fbref.com/en/comps/Big5/defense/players/Big-5-European-Leagues-Stats'

Read HTML webpage into pandas

Using pd.read_html() function to read HTML webpage

In [4]:
df

[   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Pass Types        \
      Competition Name                 MP                Att       Live  Dead
 0       de Bundesliga                612              489.9      439.6  50.3
 1          es La Liga                760              470.2      419.8  50.4
 2          fr Ligue 1                760              504.1      456.0  48.1
 3  eng Premier League                760              486.7      441.0  45.7
 4          it Serie A                760              483.2      435.4  47.8

                                 ... Body Parts                           \
      FK   TB Press    Sw   Crs  ...       Left  Right  Head    TI Other
 0  13.2  0.8  78.0  12.6  11.5  ...      141.7  282.6  21.3  22.0   7.5
 1  14.6  0.7  68.7  16.2  12.5  ...      134.0  273.7  20.4  21.0   6.5
 2  12.6  0.9  68.4  15.2  11.4  ...      147.0  303.2  15.8  20.6   7.1
 3  11.2  0.9  69.6  13.5  11.7  ...      139.0  288.6  19.6  19.7   6.5
 4  14.4  0.6  67.3  13.3  11.2  ...      141.1  286.1  17.6  18.8   6.9

   Outcomes
        Cmp  Off  Out   Int Blocks
 0    381.9  1.7  8.6  15.9   12.9
 1    369.6  1.8  9.3  13.2   11.6
 2    411.6  1.5  8.6  15.5   10.8
 3    387.3  1.5  8.1  14.5   11.6
 4    387.7  1.6  7.4  14.0   11.5

 [5 rows x 27 columns],
      Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                      Rk             Player             Nation
 0                     1         Max Aarons            eng ENG
 1                     2   Yunis Abdelhamid             ma MAR
 2                     3  Salis Abdul Samed             gh GHA
 3                     4    Laurent Abergel             fr FRA
 4                     5        Charles Abi             fr FRA
 ...                 ...                ...                ...
 3032               2917   Martín Zubimendi             es ESP
 3033               2918   Szymon Żurkowski             pl POL
 3034               2919    Martin Ødegaard             no NOR
 3035               2920        Milan Đurić             ba BIH
 3036               2921      Filip Đuričić             rs SRB

      Unnamed: 3_level_0 Unnamed: 4_level_0  Unnamed: 5_level_0  \
                     Pos              Squad                Comp
 0                    DF       Norwich City  eng Premier League
 1                    DF              Reims          fr Ligue 1
 2                    MF      Clermont Foot          fr Ligue 1
 3                    MF            Lorient          fr Ligue 1
 4                    FW      Saint-Étienne          fr Ligue 1
 ...                 ...                ...                 ...
 3032                 MF      Real Sociedad          es La Liga
 3033                 MF             Empoli          it Serie A
 3034                 MF            Arsenal  eng Premier League
 3035                 FW        Salernitana          it Serie A
 3036              MF,FW           Sassuolo          it Serie A

      Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
                     Age               Born                90s
 0                    21               2000               32.0
 1                    33               1987               33.1
 2                    21               2000               27.4
 3                    28               1993               32.8
 4                    21               2000                0.5
 ...                 ...                ...                ...
 3032                 22               1999               28.8
 3033                 23               1997               25.6
 3034                 22               1998               30.9
 3035                 31               1990               24.1
 3036                 29               1992                7.5

      Unnamed: 9_level_0  ... Body Parts                 Outcomes              \
                     Att  ...      Right Head   TI Other      Cmp Off Out Int
 0                  1440  ...        929   29  311     2     1087   7  28  52
 1                  1555  ...        402   49   14     4     1281   5  32  41
 2                  1671  ...       1454   52    4     8     1532   2  16  34
 3                  1635  ...       1441   24    5     5     1334   7  18  60
 4                     6  ...          0    0    0     0        2   0   0   2
 ...                 ...  ...        ...  ...  ...   ...      ...  ..  ..  ..
 3032               1453  ...       1021   52    0     8     1243   5  24  38
 3033                915  ...        719   18    5     4      733   2  16  36
 3034               1598  ...        129   34   11    13     1355   7  15  54
 3035                682  ...        216  122    2    50      427   2  10  31
 3036                226  ...        198    5    4     0      184   0   1  10

             Unnamed: 34_level_0
      Blocks             Matches
 0        56             Matches
 1        29             Matches
 2        23             Matches
 3        55             Matches
 4         0             Matches
 ...     ...                 ...
 3032     23             Matches
 3033     30             Matches
 3034     34             Matches
 3035     10             Matches
 3036     14             Matches

 [3037 rows x 35 columns]]

How many tables are there in the webpage?

In [5]:
len(df)

2

In [6]:
df[1].columns = df[1].columns.droplevel(0) # drop top header row

Select the first table

In [7]:
df[1]

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
0,1,Max Aarons,eng ENG,DF,Norwich City,eng Premier League,21,2000,32.0,1440,...,929,29,311,2,1087,7,28,52,56,Matches
1,2,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,33,1987,33.1,1555,...,402,49,14,4,1281,5,32,41,29,Matches
2,3,Salis Abdul Samed,gh GHA,MF,Clermont Foot,fr Ligue 1,21,2000,27.4,1671,...,1454,52,4,8,1532,2,16,34,23,Matches
3,4,Laurent Abergel,fr FRA,MF,Lorient,fr Ligue 1,28,1993,32.8,1635,...,1441,24,5,5,1334,7,18,60,55,Matches
4,5,Charles Abi,fr FRA,FW,Saint-Étienne,fr Ligue 1,21,2000,0.5,6,...,0,0,0,0,2,0,0,2,0,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032,2917,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,22,1999,28.8,1453,...,1021,52,0,8,1243,5,24,38,23,Matches
3033,2918,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,23,1997,25.6,915,...,719,18,5,4,733,2,16,36,30,Matches
3034,2919,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,22,1998,30.9,1598,...,129,34,11,13,1355,7,15,54,34,Matches
3035,2920,Milan Đurić,ba BIH,FW,Salernitana,it Serie A,31,1990,24.1,682,...,216,122,2,50,427,2,10,31,10,Matches
3036,2921,Filip Đuričić,rs SRB,"MF,FW",Sassuolo,it Serie A,29,1992,7.5,226,...,198,5,4,0,184,0,1,10,14,Matches

In [8]:
dfdata = df[1]

Data cleaning

We can see that the table header is presented multiple times in several rows.

In [9]:
dfdata[dfdata.Age == 'Age']

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
25,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
51,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
77,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
103,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
129,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
2937,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
2963,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
2989,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches
3015,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out,Int,Blocks,Matches

In [10]:
len(dfdata[dfdata.Age == 'Age'])

116

In [11]:
dfpassingtypes = dfdata.drop(dfdata[dfdata.Age == 'Age'].index)

In [12]:
dfpassingtypes.shape

(2921, 35)

In [13]:
dfpassingtypes.columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', '90s',
       'Att', 'Live', 'Dead', 'FK', 'TB', 'Press', 'Sw', 'Crs', 'CK', 'In',
       'Out', 'Str', 'Ground', 'Low', 'High', 'Left', 'Right', 'Head', 'TI',
       'Other', 'Cmp', 'Off', 'Out', 'Int', 'Blocks', 'Matches'],
      dtype='object')

In [14]:
dfpassingtypes['90s'] = dfpassingtypes['90s'].astype(float)
dfpassingtypes['Att'] = dfpassingtypes['Att'].astype(float)
dfpassingtypes['Live'] = dfpassingtypes['Live'].astype(float)
dfpassingtypes['Dead'] = dfpassingtypes['Dead'].astype(float)
dfpassingtypes['FK'] = dfpassingtypes['FK'].astype(float)
dfpassingtypes['TB'] = dfpassingtypes['TB'].astype(float)
dfpassingtypes['Press'] = dfpassingtypes['Press'].astype(float)
dfpassingtypes['Sw'] = dfpassingtypes['Sw'].astype(float)
dfpassingtypes['Crs'] = dfpassingtypes['Crs'].astype(float)
dfpassingtypes['CK'] = dfpassingtypes['CK'].astype(float)
dfpassingtypes['In'] = dfpassingtypes['In'].astype(float)
dfpassingtypes['Out'] = dfpassingtypes['Out'].astype(float)
dfpassingtypes['Str'] = dfpassingtypes['Str'].astype(float)
dfpassingtypes['Ground'] = dfpassingtypes['Ground'].astype(float)
dfpassingtypes['Low'] = dfpassingtypes['Low'].astype(float)
dfpassingtypes['High'] = dfpassingtypes['High'].astype(float)
dfpassingtypes['Left'] = dfpassingtypes['Left'].astype(float)
dfpassingtypes['Right'] = dfpassingtypes['Right'].astype(float)
dfpassingtypes['Head'] = dfpassingtypes['Head'].astype(float)
dfpassingtypes['TI'] = dfpassingtypes['TI'].astype(float)
dfpassingtypes['Other'] = dfpassingtypes['Other'].astype(float)
dfpassingtypes['Cmp'] = dfpassingtypes['Cmp'].astype(float)
dfpassingtypes['Off'] = dfpassingtypes['Off'].astype(float)
dfpassingtypes['Int'] = dfpassingtypes['Int'].astype(float)
dfpassingtypes['Blocks'] = dfpassingtypes['Blocks'].astype(float)

In [15]:
#rename duplicate columns but not the first
cols = []
count = 1
for column in dfpassingtypes.columns:
    if column == 'Out':
        cols.append(f'Out_{count}')
        count+=1
        continue
    cols.append(column)
dfpassingtypes.columns = cols

In [16]:
#turn data into p 90
dfpassingtypes['Att'] = dfpassingtypes['Att'] / dfpassingtypes['90s']
dfpassingtypes['Live'] = dfpassingtypes['Live'] / dfpassingtypes['90s']
dfpassingtypes['Dead'] = dfpassingtypes['Dead'] / dfpassingtypes['90s']
dfpassingtypes['FK'] = dfpassingtypes['FK'] / dfpassingtypes['90s']
dfpassingtypes['TB'] = dfpassingtypes['TB'] / dfpassingtypes['90s']
dfpassingtypes['Press'] = dfpassingtypes['Press'] / dfpassingtypes['90s']
dfpassingtypes['Sw'] = dfpassingtypes['Sw'] / dfpassingtypes['90s']
dfpassingtypes['Crs'] = dfpassingtypes['Crs'] / dfpassingtypes['90s']
dfpassingtypes['CK'] = dfpassingtypes['CK'] / dfpassingtypes['90s']
dfpassingtypes['In'] = dfpassingtypes['In'] / dfpassingtypes['90s']
dfpassingtypes['Out_1'] = dfpassingtypes['Out_1'] / dfpassingtypes['90s']
dfpassingtypes['Str'] = dfpassingtypes['Str'] / dfpassingtypes['90s']
dfpassingtypes['Ground'] = dfpassingtypes['Ground'] / dfpassingtypes['90s']
dfpassingtypes['Low'] = dfpassingtypes['Low'] / dfpassingtypes['90s']
dfpassingtypes['High'] = dfpassingtypes['High'] / dfpassingtypes['90s']
dfpassingtypes['Left'] = dfpassingtypes['Left'] / dfpassingtypes['90s']
dfpassingtypes['Right'] = dfpassingtypes['Right'] / dfpassingtypes['90s']
dfpassingtypes['Head'] = dfpassingtypes['Head'] / dfpassingtypes['90s']
dfpassingtypes['TI'] = dfpassingtypes['TI'] / dfpassingtypes['90s']
dfpassingtypes['Other'] = dfpassingtypes['Other'] / dfpassingtypes['90s']
dfpassingtypes['Cmp'] = dfpassingtypes['Cmp'] / dfpassingtypes['90s']
dfpassingtypes['Off'] = dfpassingtypes['Off'] / dfpassingtypes['90s']
dfpassingtypes['Out_2'] = dfpassingtypes['Out_2'] / dfpassingtypes['90s']
dfpassingtypes['Int'] = dfpassingtypes['Int'] / dfpassingtypes['90s']
dfpassingtypes['Blocks'] = dfpassingtypes['Blocks'] / dfpassingtypes['90s']

In [17]:
dfpassingtypes.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,...,Right,Head,TI,Other,Cmp,Off,Out_2,Int,Blocks,Matches
0,1,Max Aarons,eng ENG,DF,Norwich City,eng Premier League,21,2000,32.0,45.000000,...,29.031250,0.906250,9.718750,0.062500,33.968750,0.218750,0.875000,1.625000,1.750000,Matches
1,2,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,33,1987,33.1,46.978852,...,12.145015,1.480363,0.422961,0.120846,38.700906,0.151057,0.966767,1.238671,0.876133,Matches
2,3,Salis Abdul Samed,gh GHA,MF,Clermont Foot,fr Ligue 1,21,2000,27.4,60.985401,...,53.065693,1.897810,0.145985,0.291971,55.912409,0.072993,0.583942,1.240876,0.839416,Matches
3,4,Laurent Abergel,fr FRA,MF,Lorient,fr Ligue 1,28,1993,32.8,49.847561,...,43.932927,0.731707,0.152439,0.152439,40.670732,0.213415,0.548780,1.829268,1.676829,Matches
4,5,Charles Abi,fr FRA,FW,Saint-Étienne,fr Ligue 1,21,2000,0.5,12.000000,...,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,4.000000,0.000000,Matches

In [18]:
dfpassingtypes['PlSqu'] = dfpassingtypes['Player'] + dfpassingtypes['Squad']

In [19]:
dfpassingtypes['Player'] = dfpassingtypes['Player'].apply(unidecode)

In [20]:
dfpassingtypes['Squad'] = dfpassingtypes['Squad'].apply(unidecode)

In [21]:
dfpassingtypes.to_csv('fbrefBig5PassingType.csv', index=False)